.idea
.vscode

cmake-build-debug
cmake-build-release
cmake-build-minsizerel
cmake-build-relwithdebinfo
build/


extern/GKlib
extern/Jet-Partitioner
extern/kokkos-4.7.00
extern/kokkos-kernels-4.7.00
extern/local
extern/METIS

data/
