[submodule "extern/KaHIP"]
	path = extern/KaHIP
	url = https://github.com/KaHIP/KaHIP.git
[submodule "extern/Jet-Partitioner"]
	path = extern/Jet-Partitioner
	url = https://github.com/sandialabs/Jet-Partitioner.git
[submodule "extern/METIS"]
	path = extern/METIS
	url = https://github.com/KarypisLab/METIS.git
[submodule "extern/GKlib"]
	path = extern/GKlib
	url = https://github.com/KarypisLab/GKlib.git
